<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <div id="header">
        <h1>~Schlink</h1>
    </div>
    <div id="blog">
        <% @posts_array.each do |post| %>
            <div class="blog_post">   
                <!-- New post: <br> -->
                <%#= post.title %><!-- <br> -->
                <div class="date"><%= post.formatted_time %></div>
                <%= post.content %>
        
            </div>
        <% end %>
    </div>
  </body>
</html>
