<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <h1>Welcome to my Blog!</h1>
    <% @posts_array.each do |post| %>
      <div>   
        <!-- New post: <br> -->
        <%= post.title %><br>
        <%= post.timestamp %><br>
        <%= post.content %><br>
        
        <br><br><br>
      </div>
    <% end %>
  </body>
</html>